<label class="input-field__label" for={{inputID}}>
  {{ label }}
</label>

<div class="input-field__value-container">
  <div class="input-field__value">
    {{input
      class="input-field__input"
      type=_type
      value=value
      id=inputID
      placeholder=placeholder

      focusOut=(action 'focusOut')
      keyUp=(action 'keyUp')
      required=true
    }}
  </div>

  {{#if (or isValid isInvalid)}}
    <label
      class="input-field__icon input-field__icon--{{if isValid "valid" "invalid"}}"
      for={{inputID}}
      role="presentation"
    >
      {{#if isInvalid}}
        {{fa-icon 'times-circle'}}
      {{else}}
        {{fa-icon 'check-circle'}}
      {{/if}}
    </label>
  {{/if}}

  {{#if (eq type "password")}}
    <label class="input-field__show-password">
      {{input
        class="input-field__show-password-checkbox"
        type="checkbox"
        checked=showPassword
      }}
      <abbr title="Show password" class="input-field__show-password-icon">
        {{fa-icon (if showPassword 'eye' 'eye-slash')}}
      </abbr>
    </label>
  {{/if}}
</div>
