<nav class="main-nav__nav-items">
  <a href="#project-section" class="main-nav__nav-item">
    {{fa-icon "boxes"}}
    Projects
  </a>

  <a href="#contact-section" class="main-nav__nav-item">
    {{fa-icon "users"}}
    Contacts
  </a>

  {{#if isLoggedIn}}
    <a href="/icy-ewe" class="main-nav__nav-item">
      {{fa-icon "comments"}}
      Open Chat
    </a>
    <button class="main-nav__nav-item" {{action "logOut"}}>
      {{fa-icon "sign-out-alt"}}
      Log out
    </button>
  {{else}}
    <button class="main-nav__nav-item" {{action "toggleLoginModal"}}>
      {{fa-icon "sign-in-alt"}}
      Log in
    </button>
  {{/if}}
</nav>
