<div class="app-layout">
  <div class="app-layout__header">
    {{preco-header}}
  </div>

  <div class="app-layout__body">
    {{outlet}}
  </div>

  <div class="app-layout__footer">
    {{main-footer class="app__footer"}}
  </div>
</div>

<svg class="svg-definitions" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 98">
  {{preco-logo-definition}}
  {{svg-icon-definitions}}
</svg>
